.card3{
    width: 100%;
    background: rgb(129, 126, 126);
    color: white;
    overflow-x: auto;
    margin-top:200px;
   
}
#users_list{
    color:black;
}
.table_headings{
    color:white
}
.dataTables_length {
    color: rgb(255, 255, 255);
}
.text{
    color: white
}
.navbar-brand{
    .f{ 
        background-color: black;
       font-weight: bold;
       font-family: sans-serif;
       text-align: center;
        color:#3b86ff;
    }
    .u{ background-color: black;
        font-weight: bold;
       font-family: sans-serif;
       text-align: center;
        color:#e60000;
    }
    .n{background-color: black;
        font-weight: bold;
       font-family: sans-serif;
       text-align: center;
        color:#e6ac00;
    }
    .d{background-color: black;
        font-weight: bold;
       font-family: sans-serif;
       text-align: center;
        color:#3b86ff;
    }
    .o{background-color: black;
        font-weight: bold;
       font-family: sans-serif;
       text-align: center;
        color:#00cc00;
    }
    .o1{background-color: black;
        font-weight: bold;
       font-family: sans-serif;
       text-align: center;
        color:#e60000;
    }
}