<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md  navbar-dark bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- heading -->
  <span class="navbar-brand">
    <span class="f">F</span>
    <span class="u">u</span>
    <span class="n">n</span>
    <span class="d">d</span>
    <span class="o">o</span>
    <span class="o1">o</span>
    <span class="f">A</span>
    <span class="u">d</span>
    <span class="n">m</span>
    <span class="d">i</span>
    <span class="o">n</span>
  </span>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="adminDashboard">Home <span class="sr-only">(current)</span></a> -->
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="apporve()">Admin Approval</button>
      <span style="padding-right:20px;"></span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
<!-- showing the basic and advance user -->
<div class="row text-center justify-content-center mainCard">

  <div class="col-sm-4 col-lg-3 ">
    <div class="card text-center  advance">
      <div class="card-header">
        <h4>Advance User</h4>
      </div>
      <div class="card-body">

        <p class="card-text">{{advance}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-lg-3 ">
    <div class="card basic">
      <div class="card-header">
        <h4>Basic User</h4>
      </div>
      <div class="card-body">
        <p class="card-text">{{basic}}</p>
      </div>
    </div>
  </div>
</div>

<!-- printing the table data -->
<div class="card">
  <input type="text" id="myInput" [(value)]="values" (keyup)="onkeypress($event)" placeholder="Search for names.."
    title="Type in a name" class="container-fluid">
  <div class="table-responsive-xl fi tablediv">
    <table class="table table-hover ">
      <caption>List of users</caption>
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col">Service</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of array; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{d.firstName}}</td>
          <td>{{d.lastName}}</td>
          <td>{{d.email}}</td>
          <td>{{d.service}}</td>

        </tr>

      </tbody>
    </table>
  </div>
</div>